# Ignore node_modules folders in all subdirectories
**/node_modules/

# Ignore any .env files
**/.env

# Ignore frontend build artifacts
/build/
/dist/
/public/

# Ignore any other build artifacts or logs
*.log
*.log.*
npm-debug.log*

# Exclude everything in the sub projects except for backend-related code
# Add exceptions for files or folders you want to include
/nodejs-concept-practice/*
!/nodejs-concept-practice/*/node_modules/
